/* * { outline: 1px solid red; } * */

html {
    max-width: 100vw;
}

body {
    font-family: 'Roboto';font-size: 22px;
    display: flex; 
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */

    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
}

.h-top {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between; 
    margin-bottom: 100px;
}

.h-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: auto;
    gap: 150px;
    
}

.hL {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    
    
    
}



.hR {
    display: flex;
    background-color: grey;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;

}


/* .quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    width: auto;
    padding: 100px 250px;  
} */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    min-height: 400px;
    padding: 0px 400px;

    

}

.quote {
    display: flex;
    /* max-width: 967px; */ */
    display: flex;
    flex-direction: column;
    max-width: 919px;;
    font-size: 28px;
    font-style: oblique;
    font-weight: 300;
}

.author {
    display: flex;
    align-self: flex-end;
    font-size: 18px;
    font-style: none;
    font-weight: 600;
}

.footer {
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 0;
    /* padding-right: 125px; */
    margin: 0;
    gap: 22px;
    
}

a {
    text-decoration: none;
    font-size: 18px; 
    color: #E5E7EB;
    font-weight: 300;

}

.title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    /* padding-left: 125px; */

}

.links {
    
}

.Hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.blurb {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.sign-up {
    display: flex;
    border: none;
    justify-content: center;
    max-width: 25%;
    border-radius: 6px;
    margin-top: 10px;
    padding: 8px;
    background-color: #3882F6;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_content {
    display: flex;
    padding-right: 200px;
    padding-left: 200px;

}

.images {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 25px;
}

.box {
    display: flex;
    flex: auto;
    outline: solid 2px #3882F6;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 18px;
}

.information {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding: 40px 0 40px 0;
}

.img_desc {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 200;
    flex-wrap: wrap;
    text-align: center;
    max-width: 200px;
    margin: 18px;
    
}

.img_content{
    margin-bottom: 83px;
}

.quote-section {
    
}